<section
{{!-- This is profile homepage--}}
<h1>Welcome back, {{name}}!</h1>
{{!--will display the projects created by the user--}}
<div>
    {{!-- add a button to create new project--}}
<h2>Add a project</h2>
<a href="/add-project">Add new</a>
</div>
<h2>My projects</h2>
{{#each Projects as |Project|}}
    <section class="project-box">
        <div>
        <h3 class="project-name">{{Projects.name}}</h3>
            <h4>Project Description</h4>
                <p>{{Project.description}}</p>
            <h4>Project Deadline</h4>
                <p>{{Poject.deadline}}</p>
        </div>
        <div class="shown-contracts">
            <h4>Contracts</h4>
            {{#each Projects.Contracts as |contract|}}
                <section class="contract-box">
        <h3 class="contract-name">{{Contracts.name}}</h3>
        <h4>Contract Description</h4>
        <p>{{Contracts.description}}</p>
        <h4>Contracts estimated cost</h4>
        <p>{{Contracts.cost}}</p>
    </section>
            {{/each}}

        </div>


    </section>
{{/each}}

</section>
<script src="/js/profile.js"></script>